.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.button {
  margin: 8px;
  border: 0;
  outline: 0;
  background-color: transparent;
}

@media screen and (min-width: 900px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
}

.icon {
  fill: #006494;
  transition: fill 200ms ease-in-out;
  cursor: pointer;
}

.icon:is(:hover, :active) {
  fill: #0f2b46;
}

.copy {
  position: relative;
}
