.header {
    margin: 20px 0 24px 0;
    color: #0f2b46;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

@media screen and (min-width: 640px) {
    .header {
        font-size: 32px;
    }
}
