.appContainer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    max-width: 720px;
    width: 100%;
    margin: 0 auto;
}

.appTitle {
    width: 100%;
    font-weight: 400;
    font-size: 35px;
    text-align: center;
    font-family: "Noto Serif KR";
}
